server:
  port: 8080
spring:
  application:
    name: luccars
    version: 1.0.0
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:luccars}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        transaction:
          jta:
            platform: true


jwt:
  secret: MySuperLongSuperSecureSecretKeyThatIsAtLeast32Chars!
  expiration: 3600000